@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.192);
  width: 391px;
  height: 464px;
  margin-bottom: 0vh;
}
.container2_0 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  height: 55vh;
}
#email {
  display: flex;
  border: none;
  background-color: #4462e66e;
  border-radius: 4px;
  width: 250px;
  height: 30px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 70px;
  padding-left: 5px;
}
#senha {
  border: none;
  background-color: #4462e66e;
  border-radius: 4px;
  width: 250px;
  height: 30px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  padding-left: 5px;
}
#entrar_b {
  border: none;
  background-color: #ffd646;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-top: 120px;
}
input::placeholder {
  color: #5f5f5f;
  padding-left: 0px;
}
a h5 {
  color: #e6c244;
}

a {
  text-decoration: none;
}
.top_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  padding: 30px;
}
.middle_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 150px;
}
.reg {
  padding: 10px;
}
.logar_com {
  padding-top: 35px;
  padding-left: 150px;
}
.logo {
  width: 300px;
}
.logo_area {
  display: flex;
  justify-content: center;
}
input:focus {
  outline: none;
}
.google {
  padding-top: 20px;
  
}
#entrar_b:hover{
  background-color: #ceae39;
  cursor: pointer;
}
h5.reg:hover{
  color: #ceae39;
}
